{% extends 'base2.html' %}

{% block content %}
	<br><br><br>
	<div id="topo">
		<img src="{{ url_for('static', filename='img/semear_logo.png') }}" alt="Semear Americana | Semeando em terra fértil">
	</div>

	<hr>
	<br><br>
	<h1>Administração</h1>

	<br>

	<center>
		<a href="#textos">Textos do site</a>
		&nbsp;&nbsp;&nbsp;
		<a href="#contato">Contato</a>
		&nbsp;&nbsp;&nbsp;
		<a href="#usuarios">Usuários</a>
		&nbsp;&nbsp;&nbsp;
		<a href="#posts">Postagens</a>
		&nbsp;&nbsp;&nbsp;
		<a href="#reports">Documentos</a>
	</center>

	<br>

{% with messages = get_flashed_messages() %}  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

	<br>

	{% if usuario %}
		Olá {{ usuario }}!
	{% endif %}
    <br><a href="/logout">Sair</a>

	<br>
	<hr>
	<br>

	<div id="textos">
	<br><br><br>
    <h2>Configuração de textos do Site</h2>
    {% if not textos %}
        <p>Configuração não cadastrada.</p>
    {% else %}
		{% for texto in textos %}
			Quem somos, visão, missão, ...
			<br>
		    <a href="{{ url_for('edit_textos', id=texto.id) }}" class="btn btn-sm btn-warning">Editar</a>
		{% endfor %}
    {% endif %}
    </div>

    <br>
	<hr>
	<br>

	<div id="contato">
	<br><br><br>
    <h2>Configurações de Contato</h2>
    {% if not contato %}
        <p>Configuração não cadastrada.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Whatsapp</th>
                    <th>Facebook</th>
                    <th>Instagram</th>
                    <th>E-mail</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                {% for contato in contato %}
                    <tr>
                        <td>
                            <a href="{{ url_for('edit_contato', id=contato.id) }}" class="btn btn-sm btn-warning">Editar</a>
                        </td>
                        <td>{{ contato.whatsapp }}</td>
                        <td>{{ contato.facebook[0:20] }}...</td>
                        <td>{{ contato.instagram[0:20] }}...</td>
                        <td>{{ contato.email }}</td>
                        <td>{{ contato.endereco[0:20] }}...</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>

	<br>
	<hr>
	<br>

	<div id="usuarios">
	<br><br><br>
    <h2>Usuários</h2>
    <a href="{{ url_for('create_usuario') }}" class="btn btn-sm btn-success">Novo Usuário</a>
    <br>
    {% if not usuarios %}
        <p>Nenhuma usuário cadastrado.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th width="150">Ações</th>
                    <th>Nome</th>
                    <th>Data de criação</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td width="150">
                        	{% if usuario.nome != 'admin' %}
                            <a href="{{ url_for('edit_usuario', id=usuario.id) }}" class="btn btn-sm btn-warning">Editar</a>
                            <a href="{{ url_for('excluir_usuario', id=usuario[0]) }}" class="btn btn-sm btn-danger">Excluir</a>
                            {% endif %}
                        </td>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.created }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>

	<br>
	<hr>
	<br>

	<div id="posts">
	<br><br><br>
	<h2>Postagens</h2>
    <a href="{{ url_for('create_post') }}" class="btn btn-sm btn-success">Nova Postagem</a>
    <br>
    {% if not posts %}
        <p>Nenhuma postagem cadastrada.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th width="150">Ações</th>
                    <th>Título</th>
                    <th>Conteúdo</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts|sort(attribute='created', reverse=True) %}
                    <tr>
                        <td width="150">
                            <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-sm btn-warning">Editar</a>
                            <a href="{{ url_for('excluir_post', id=post[0]) }}" class="btn btn-sm btn-danger">Excluir</a>
                        </td>
                        <td>{{ post.title[0:30] }}...</td>
                        <td>{{ post.content[0:30] }}...</td>
                        <td>{{ post.created }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>

	<br>
	<hr>
	<br>

	<div id="reports">
	<br><br><br>
	<h2>Documentos</h2>
    <a href="{{ url_for('create_report') }}"  class="btn btn-sm btn-success">Novo Relatório</a>
    <br>
    {% if not reports %}
        <p>Nenhum documentos cadastrado.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th width="150">Ações</th>
                    <th>Ordem</th>
                    <th>Descrição</th>
                    <th>Arquivo</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td width="150">
                            <a href="{{ url_for('edit_report', id=report.id) }}" class="btn btn-sm btn-warning">Editar</a>
                            <a href="{{ url_for('excluir_report', id=report.id) }}" class="btn btn-sm btn-danger">Excluir</a>
                        </td>
                        <td>{{ report.ordem }}</td>
                        <td>{{ report.description }}</td>
                        <td>
                        <a href="{{ url_for('download_report', id=report.id) }}">{{ report.report_name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>

	<br>

{% endblock %}
